* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('./imagens/corinthians.preto.jpg');
    background-size:cover;
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed; 
   
}

body > header {
    background-color: rgba(0, 0, 0, 0.877);
    padding: 8px auto;  
    color: #f5f6fa;
    position: relative;
    border: 1px solid #000000; 
}

header .social-links{
    position: absolute; 
    top: 0;
    right: 0;
    max-width: 100%;
    margin: 15px;
}
header .social-links img{
    height: 25px;
    width: 25px;
    border-radius: 15px; 
}

header .container,
h1 {
    display: flex;
    margin: 0px 20px;
    align-items: center;
    font-family: "DM Serif Display", serif;
    font-style:normal;
    font-weight: 400;

}

header li {
    display: inline;
    font-family:"Roboto", sans-serif;
    font-weight: bold;
    margin: 60px 15px 40px 15px;
    justify-content: center;
    
    
}
header li button {
    background-color: rgb(0, 0, 0);
    color: #fff;
    margin-bottom: 10px;
    padding: 10px 20px;
    border: 1px solid #c7c3c3; 
    display: inline-block;
    text-decoration: none;
    border-radius: 20px;
   

}
header .container li img{
    width: 80px;
    margin: 15px 6px;
}

.container {
    width: 1295px;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

}
.social-links li{
    display: inline;
    margin-right: 2px;
   
}

.social-links li a{
    text-decoration: none;
 
}

section{
    padding: 16px 0;
}

section h2,
.articles article {
    padding: 20px;
}

section h2 {
    display: flex;
    font-size: 30px;
    margin-left: 100px;
    color: #ffffff;
    justify-content:left;
    font-family: "Abril Fatface", serif;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.articles article{
    width: 30%;
}
.articles article img {
    height: 225px;
    width:110%;
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s; 
    object-fit: fill;
}

.articles article img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.articles article h3{
    margin: 8px 0;
    font-size: 24px;
    color: #ffffffb6;
}

.articles article p,
.articles article a {
    font-family: "Roboto Condensed", sans-serif;
    color: #cccc;
}
.articles article a {
    background-color: rgba(0, 0, 0, 0.596);
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
    border-radius: 3px;
}
.articles article a:hover {
    text-decoration: underline;
}

.articles header{
    display: flex;
    color: #c7c3c386;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    justify-content:right;
}


#historia, #titulos, #jogos, #estrutura, #contact{
    background-color: rgba(19, 24, 19, 0.712);
}

#historia .articles article a,
#titulos .articles article a,
#jogos .articles article a,
#estrutura .articles article a{
    background-color: #000;
}

#contact .container {
    display: block;
}

.contact-methods h3{
    color: #ffffff;
    margin: 6px 0;
}
.contact-methods {
    display: flex;
    justify-content:space-between;
    margin-left: 100px;
    padding: 20px;   
}

form input,
form textarea,
form button{
    display: block;
    width: 300px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{
    resize: none;
    height:100px;
}
form button{
    background-color: #00000094;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
    
}
form button:hover{
    background-color: #cecece;
}

input:focus, textarea:focus{
    outline-color: #e4e4e4;
}
footer{
    background-color: #000000e7;
    color: #ecf0f1;
    padding: 16px 0;
}


